* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  width: 500px;
  height: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

button {
  margin: 0 auto;
}

.jumbotron {
  margin: 0 auto;
  margin-left: 0 auto;
  text-align: center;
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
}

table {
  margin: auto auto;
}



